
*{
  height: auto;
  max-width:100%;
    box-sizing: border-box;
}
body  {

    margin: 0;
  padding: 0;
  background: #d7cec7;
  font-family: sans-serif;
  line-height: 1.5em;
  text-align: center;
  height: auto;
  max-width: 2000px;
}

.header {
  color: #FFB1B3;
  padding: 40px 10;
  background-color: #FDE5E3;
  font-family: relway, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 70px;
  font-size: 10px;
}
.sub_header {

color: rgb(255, 255, 255);
font-size: 16px;
 line-height: 16px;
  padding: 6px;
   border-radius: 10px;
    font-family: sans-serif;
     font-weight: normal;
      text-decoration: none;
       font-style: normal;
        font-variant: normal;
        text-transform: none;
        background-image: linear-gradient(to right, #FDE5E3 0%, #330022 50%,#11001a 100%);
         box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
          border: 2px solid rgb(28, 110, 164);
           display: inline-block;
         }
.sub_header:hover {
background: #330022; }
.sub_header:active {
background: #144E75;
}
#nav {
  display:inline;
  max-height: 100px;
  padding-top: 0;
  text-align:justify;
  color: #818181;

  width: 100%;
}
nav ul li {
  display: inline;
  text-align:justify;
min-width: 40%;
}
nav a:hover {
  color:#818181;
  background-color:#C0C0C0;
}
nav ul li a {
  background: #fff;

  text-decoration: none;
  display: inline;
}
.homebrown {
  color: #fff;
  background-color:#d7cec7;
  }
.homeblack {
  background-color:#e9e7da;
  color: #ff0000;
}
.sidenav{
height: 100%;
width: 0;
position: fixed;
z-index: 9999;
top: 0;
left:0;
overflow-x:visible ;
padding-top: 1px;
transition: 0.5s;
}
.sidenav li,a {
    padding: 1px 1px 1px 6px;
    text-decoration: none;
    font-size: 0.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color:#ff0000;
  }
  .sidenav a:active{
    background-color: ;
    color: ;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 40px;
    right: 5px;
    left:2px;
    font-size: 24px;
    margin-left: 20px;
}

.landingpage{
  color: #818181;
  font-size: 16px;
   line-height: 16px;
    padding: 6px;
     border-radius: 10px;
      font-family: sans-serif;
       font-weight: normal;
        text-decoration: none;
         font-style: normal;
          font-variant: normal;
          text-transform: none;
          background-image: linear-gradient(to right,rgb(196, 76, 192)  0%, #330022 50%,#11001a 100%);
           box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
            border: 2px solid rgb(28, 110, 164);
             display: inline-block;
}



.kip {
  border-radius: 50;
}



.img {
  border: 5px;
width: 100%;
display: block;
max-width: 100%;
padding-top: 20px;
padding-right: 10px;
box-sizing: border-box;
}
#video{
  width: 100%;
  height: auto;
}
p{
  font-family: sans-serif;
  line-height: 1.6em;
  font-size: .7rem;
  width: 75%;
  color: #11001a;
  text-align: justify;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  height: 350px;
  width: 424px;
  padding-top: 0;
  padding-left: 2px;
  padding-right: 2px;
  max-width: 95%;
}

.container {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: #fff;
}



h1 {

  color: blue;
  text-align: justify;
  text-transform: uppercase;
  font-size:20px;
  padding-top: 5%;
  padding-left: 5px;
  max-width: 100%;

}

h2 {
  color: #FDE5E3;
  text-align: justify;
  text-transform: capitalize;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 95%;
}

h4 {
  color: tan;
}

.divider {}

.footer {
  height: auto;
  border-radius: 50px;
  background: #e9e7da;
  text-decoration: none;
  text-align: center;
  color: #8E79AD;
  text-transform: capitalize;
  font-family: 'oswald', sans-serif;
  width: 100%;
}

.footer-social-icons {
  width: 100%;
  height: auto;
  margin-top: 10px;
  float: right;

}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: blue;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
#one {
  float: right;
}
.circle {
  max-height:99%;
  border-radius: 0.5%;
  width: auto;
  opacity: 0.6;
  z-index: 3000;
  position: relative;
  float: none;
  margin-top: 1px;
}
.letters {
  display: inline-block;
  text-align: justify;
  margin-left: 10px;
  margin-right: 20px;
  padding-bottom: 0;
  height: 350px;
  width: 424px;
  padding-left: 2px;
  padding-right: 1px;
  max-width: 70%;
}
.loot {
  display: inline-block;
  text-indent: 30%;
  margin-left: 10px;
  margin-right: 200px;
  height: 350px;
  width: 424px;
  text-align: left;
}
.content {
  display: inline-block;
  text-align: justify;
  margin-left: 10px;
  margin-right: 20px;
  height: 350px;
  width: 424px;
  padding-left: 2px;
  padding-right: 1px;
  max-width: 70%;
}
@media screen and (min-width:768px) {



    }
    .sidenav a {
      font-size: 9px;
visibility: visible;
    }
  #nav {
    visibility:visible;
  }

  }
@media screen and ( min-width:960px) {

.sidenav{
visibility: hidden;
}
#nav{
  visibility:visible;
}
